.write {
  padding-top: 50px;
}

.write-img {
  margin-left: 150px;
  width: 70vw;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.write-form {
  position: relative;
}

.write-form-group {
  margin-left: 150px;
  display: flex;
  align-items: center;
}

.write-form-group label {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.write-icon {
  font-size: 15px;
  cursor: pointer;
}

.write-input {
  font-size: 22px;
  border: none;
  padding: 20px;
  width: 70vw;
  outline: none;
  color: #333;
  font-family: "Montserrat", sans-serif;
}

.write-input::placeholder {
  font-size: 20px;
  color: #666;
  font-weight: 300;
  letter-spacing: 0.8px;
}

.write-text {
  min-height: 300px;
  font-size: 18px;
  border: none;
  padding: 20px;
  width: 70vw;
  outline: none;
  color: #333;
  font-family: "Montserrat", sans-serif;
}

.write-submit {
  position: absolute;
  top: 20px;
  right: 50px;
  color: #fff;
  background-color: #333;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
